*{
    margin: 0;
    padding: 0;
 
}
/*navigation bar style*/


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 165px;
    padding-top: 30px;
}
nav >ul{
    display: flex;
    align-items: center;
   
}

nav li{
    list-style: none;
    margin-right: 50px;
    
}

ul> li> a{
    text-decoration: none;
   
}
h3{
    font-size:45px ;
    font-family:open sans;
    font-weight: 1800;
    color: black;
}

.text-primary{
    color: #fdf7f2;
    background-color: darkorange;
    border: none;
    padding: 13px 14px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
}
.text-primary-Call{
    background-color: white;
    color:orange;
    border: none;
    padding: 13px 14px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
}

/*header related*/

header{
    background-color: rgb(254, 245, 226);
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
    margin-bottom: 0px;
}


.banner{
    padding: 50px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 500px;
    margin-left: 200px;
}
.banner-content{
    max-width: 500px;
}
.about-section{
    padding: 130px;
    background-color: antiquewhite;
    margin: 130px;
}
.section-title{
    color: black;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
.section-description{
    text-align: center;
    font-size: 18px;
    color: darkgray;
}
.info{
    display: flex;
    justify-content: space-around;
  
   margin-top: 30px;
}
.about-section> .info{
    align-items: center;
}
.sum-info{
   
    text-align: center;
}
h4{
    margin-top: 8px;
}

.what-i-do-container{
    padding: 30px 150px;
}

#what-i-do{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
   padding: 30px;
   border-radius: 5px;
   background: #FFF;

   box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   
}
p{
    margin-bottom: 10px;
    margin-top: 10px;
}

.resume-container{
    display: flex;
    padding: 0 130px;
    gap: 50px;
}
.resume-section hr{
    margin: 30px;
}
.btn-primary{
    padding: 7px;
    background-color: orangered;
    color: white;
    font-weight: 700;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
}
footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 230px;
    gap: 100px;
}
.footer-title{
    column-gap: 40px;
    width: 50%;
}
.contact-form input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: 0;
    width: 100%;
}